@import "./global-style.css";

/* Preguntas */
.questions {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-left: 30px;
}

.question {
  margin: 30px 20px;
}

.question-text {
  font-weight: bold;
  font-size: 20px;
  margin-bottom: 10px;
}

.answer {
    display: block;
}

/* Checkmark */
.answer {
    position: relative;
    padding-left: 35px;
    font-size: 18px;
    margin: 15px;
}

.answer input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
  border-radius: 50%;
}

.answer:hover input ~ .checkmark {
  background-color: #ccc;
}

.answer input:checked ~ .checkmark {
  background-color: var(--color-primario-dark);
}

.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.answer input:checked ~ .checkmark:after {
  display: block;
}

.answer .checkmark:after {
  top: 9px;
  left: 9px;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: var(--white-color);
}

/* Boton Siguiente */

.siguiente-btn {
  align-self: center;
  margin-top: 60px;
  color: var(--white-color);
  background-color: var(--color-primario);
  height: 40px;
  width: 260px;
  font-size: 18px;
  border-radius: 10px;
  border: none;
  outline: none;
}

.siguiente-btn:hover {
  cursor: pointer;
  background-color: var(--color-primario-dark);
}
