@import url("/css/global-style.css");

/* Variables */

:root {
  --sidebar-width: 250px;
  --slide-in-duration: 0.3s;
  --menu-option-radius: 8px;
}

/* Sidebar */

#sidebar {
  position: fixed;
  top: 0;
  height: 100%;
  transition: var(--slide-in-duration);
  background-color: var(--color-primario);
  z-index: 1;
}

#sidebar[sidebar-visible="true"] {
  left: 0;
  width: var(--sidebar-width);
  box-shadow: 10px 0px 20px rgba(0, 0, 0, 0.3);
}

#sidebar[sidebar-visible="false"] {
  left: calc(var(--sidebar-width) * -1);
  box-shadow: none;
}

/* Sidebar menu */

.sidebar-menu {
  display: flex;
  flex-direction: column;
  color: var(--white-color);
  padding: 10px;
  margin: 30px 5px;
  height: 90%;
  overflow-y: auto;
}

/* Menu options and hover */
.sidebar-menu li div {
  padding: 10px;
  margin: 12px 10px;
}

.submenu li {
  padding: 8px 10px;
  margin: 5px 10px;
  margin-left: 20px;
}

.sidebar-menu li:hover div {
  background-color: var(--white-color);
  color: var(--color-primario-dark);
  border-radius: var(--menu-option-radius);
}

.submenu li:hover {
  background-color: var(--white-color);
  color: var(--color-primario-dark);
  border-radius: var(--menu-option-radius);
}

/* Push bottom options down */
.options_bottom {
  margin-top: auto;
}

.sidebar-menu li a {
  font-size: 18px;
  color: inherit;
}

.sidebar-menu li:hover {
  display: block;
}

/* Mostar el submenu de la opcion activa */

.submenu {
  overflow: hidden;
  margin-top: 10px;
  max-height: 0px;
  transition: 0.3s ease-out;
}

li:hover .submenu {
  max-height: 200px;
}

.submenu li a {
  font-size: 15px;
}

/* Sidebar show/hidden button */

#sidebar-btn {
  padding: 10px;
  font-size: 30px;
  transition: var(--slide-in-duration);
}

#sidebar-btn[sidebar-visible="true"] {
  margin-left: var(--sidebar-width);
}

#sidebar-btn[sidebar-visible="false"] {
  margin-left: 0;
}

#sidebar-btn:hover {
  cursor: pointer;
}

/* Main content */

#main {
  padding: 10px;
  transition: var(--slide-in-duration);
  overflow: hidden;
}

#main[sidebar-visible="true"] {
  margin-left: var(--sidebar-width);;
}

#main[sidebar-visible="false"] {
  margin-left: 0;
}

/* Button bar */

.btn-bar {
  background-color: var(--color-primario);
  color: white;
  width: 100%;
  height: 50px;
}

@media (max-width: 800px) {
  #sidebar-btn {
    position: absolute;
    color: white;
    right: 0;
  }

  #main {
    margin-left: 0;
  }
}

@media (max-width: 600px) {
  #sidebar[sidebar-visible="true"] {
    width: 100%;
    z-index: 1;
  }

  #sidebar-btn {
    z-index: 2;
  }

  #sidebar[sidebar-visible="false"] {
    left: -200%; 
  }

  /* .sidebar-menu li {
    padding: 20px 25px;
  } */
  .sidebar-menu li div a{
    font-size: 20px;
  }

  .submenu li a {
    font-size: 16px;
  }

  .sidebar-menu li div {
    padding: 10px;
    margin: 10px auto;
    margin-left: 20px;
  }
  
  .submenu li {
    padding: 8px 10px;
    margin: 5px 10px;
    margin-left: 40px;
  }

  .sidebar-menu {
    margin-top: 60px;
  }
}
