* {
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}

.contianer {
    display: grid;
    grid-template-columns: 200px auto;
}

#sidebar {
    position: relative;
    width: 200px;
    background-color: royalblue;
    height: 100vh;
    left: -200px;
}

#sidebar.active {
    left: 0;
}

#sidebar ul li {
    display: block;
    height: 100%;
    color: #fff;
    list-style: none;
    padding: 10px 15px;
    border-bottom: solid 1px #fff;
}

#sidebar a {
    text-decoration: none;
    background-color: blueviolet;
    color: #fff;
    height: 100%;
}

#sidebar li:hover {
    background-color: rgb(8, 59, 214);
}

#sidebar ul a li img {
    padding-right: 20px;
    width: 30px;
}

#sidebar .toggle_btn {
    position: absolute;
    left: 230px;
    top: 20px
}

#sidebar .toggle_btn span {
    display: block;
    width: 30px;
    height: 5px;
    background: black;
    margin: 3px 0px;
}

#opciones_inferiores {
    margin-top: 230px;
}