.container {
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    /* grid-template-columns: minmax(200px, 1fr); */
}

.main-container {
    width: 80%;
}

.menu-contianer li:hover {
    background-color: #fafafa;
    transition: 0.3s;
}

.menu-contianer li:hover>a {
    color: var(--color-primario);
}

#sidebar-container {
    height: 100vh;
}

#btn-menu-open a,
#btn-menu-close a {
    font-size: 30px;
}

#btn-menu-open a {
    color: #3e3e3e;
}

.slide-left-out {
    animation: slideleft 1s;
}

.slide-right-in {
    animation: sliderightin 2s;
}

@keyframes slideleft {
    100% {
        position: relative;
        left: -300px;
    }
}

@keyframes sliderightin {
    100% {
        position: relative;
        left: 0;
    }
}