@import url(menu-style.css);

/* .container {
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    grid-template-columns: minmax(200px, 1fr);
}

.menu-contianer li:hover {
    background-color: #fafafa;
    color: var(--color-primario);
    transition: 0.3s;
}

.menu-contianer li a {
    color: var(--color-primario);
}

#sidebar-container {
    max-width: 200px;
    height: 100vh;
}

#btn-menu-open a,
#btn-menu-close a {
    font-size: 30px;
}

#btn-menu-open a {
    color: #3e3e3e;
} */