@import url("global-style.css");

.datatable-container {
    width: 80%;
    padding: 30px;
    margin: 0 auto;
}

@media (max-width: 1200px) {
    .datatable-container {
        width: 100%;
    }
}

thead tr th {
    color: var(--color-primario);
    padding: 12px !important;
    font-size: 20px;
    font-weight: 400;
}

tr {
    height: 40px;
}

tr {
    border: 1px solid #ccc;
}

.pageBtn.active, .paginator button:hover:not(.active, .inactive)  {
    background-color: var(--color-primario) !important;
    color: white;
}

th:after {
    color: var(--color-primario-dark) !important;
}

tbody tr:hover {
    background-color: rgb(230, 244, 255) !important
}