@import url("global-style.css");

.datatable-container {
    width: 80%;
    margin: 0 auto;
    margin-top: 30px;
}

@media (max-width: 1000px) {
    .datatable-container {
        width: 100%;
    }
}

.datatable {
    margin-top: 5px;
}

thead tr th {
    color: var(--color-primario);
    padding: 12px !important;
    font-size: 20px;
    font-weight: 400;
}

tr {
    height: 40px;
}

tr {
    border: 1px solid #ccc;
}

.pageBtn.active, .paginator button:hover:not(.active, .inactive)  {
    background-color: var(--color-primario) !important;
    color: white;
}

th:after {
    color: var(--color-primario-dark) !important;
}

tbody tr:hover {
    background-color: rgb(230, 244, 255) !important
}

.searchbar input {
    border: 2px solid #ccc;
    border-radius: 5px;
    height: 40px;
    background-image: url(https://cdn2.iconfinder.com/data/icons/font-awesome/1792/search-512.png);
    background-size: 20px 20px;
    background-position: 10px 6px;
    background-repeat: no-repeat;
    padding: 5px 5px 5px 40px;
    width: 250px;
    transition: width 0.2s ease-in-out;
}

.searchbar {
    width: 100%;
}

.searchbar input:focus {
    width: 100%;
}