<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/ce59bd3c16.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="../../css/style.css">
    <link rel="stylesheet" href="../../css/global-style.css">
    <link rel="stylesheet" href="../../css/perfil.css">
    <title>Document</title>
</head>

<body>
    <div class="container">
        <div id="sidebar" class="active">
            <!-- Esta parte contine el menu principal de la pagina  -->
            <div class="toggle_btn">
                <span></span>
                <span></span>
                <span></span>
            </div>
            <ul>
                <a href="#">
                    <li><i class="far fa-user-circle" style="color: white;padding: 5px;"></i> Perfil</li>
                </a>
                <a href="#">
                    <li><i class="far fa-file-alt" style="color: white;padding: 5px;"></i>Tareas</li>
                </a>
                <a href="#">
                    <li><i class="fas fa-clipboard-list" style="color: white;padding: 5px;"></i>Evaluaciones</li>
                </a>
                <a href="#">
                    <li><i class="fas fa-users" style="color: white;padding: 5px;"></i> Pasantes</li>
                </a>
                <a href="#">
                    <li><i class="fas fa-book-open" style="color: white; padding: 5px;"></i>Convocatorias</li>
                </a>
            </ul>
            <ul id="opciones_inferiores">
                <a href="#">
                    <li><i class="fas fa-cog" style="color: white;padding: 5px;"></i>Ajustes</li>
                </a>
                <a href="#">
                    <li><i class="fas fa-sign-out-alt" style="color: white;padding: 5px;"></i>Cerrar Session</li>
                </a>
            </ul>

        </div>
        <div class="main_container" id="main">
            <img src="../../img/admin.png" alt="admin" class="imgadmin">

            <h1 class="mx-left-large " style="color: var(--color-primario); position: absolute; top: 40%;
            left: 35%; ">Pasante Coronado <i class="fas fa-check-circle" style="color: green;"></i></h1>

            <div class="detalles_admin">
                <label for="text"><u>coronado@gmail.com</u></label>
                <br><br>
                <label for="text">Administrador</label>
                <br><br>
                <label for="text">Nivel: Avanzado</label>

            </div>
        </div>
    </div>
    <script src="../../js/script.js"></script>






</body>

</html>