<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/ce59bd3c16.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="../../css/global-style.css">
    <link rel="stylesheet" href="../../css/perfil.css">


    <!-- Sidebar -->
    <link href="../../css/sidebar.css" rel="stylesheet" />
    <script src="../../js/sidebar.js" defer></script>
    <script src="../../js/routing.js"></script>
    <title>Pasante</title>
</head>

<body>
    <div class="container">
        <div id="sidebar-container">
            <!-- Sidebar is dynamically loaded from `sidebar.js` -->
        </div>
        
        <div class="main_container " id="main" style="text-align: center;">
            <img src="../../img/admin.png" alt="admin" class="imgadmin">

            <h1 class="mx-left-large " style="color: var(--color-primario); position: absolute; top: 40%;
            left: 38%; ">Pasante Coronado <i class="fas fa-check-circle" style="color: green;"></i></h1>

            <div class="detalles_admin">
                <label for="text"><u>coronado@gmail.com</u></label>
                <br><br>
                <label for="text">Administrador</label>
                <br><br>
                <label for="text">Nivel: Avanzado</label>

            </div>

            <div style="position: fixed; top: 70%; left: 20%; font-size: 18px; text-align: center;">
                <p>Jorge Luis Coronado es el Fundador y CEO de AiLogic, se dedica a lo que es el Software developer y soporte técnico... </p>
            </div>
        </div>
    </div>






</body>

</html>