<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../css/style.css">
    <link rel="stylesheet" href="../../css/global-style.css">
    <title>Document</title>
</head>

<body>
    <div class="container">
        <div id="sidebar" class="active">
                    <!-- Esta parte contine el menu principal de la pagina  -->
                <div class="toggle_btn">
                    <span></span>
                    <span></span>
                    <span></span>
                </div>
                <ul>
                    <a href="#"><li><img src="../../img/perfil.png" class="sidebar_icons">Perfil</li></a>
                    <a href="#"><li><img src="../../img/bloc.png" class="sidebar_icons">Tareas</li></a>
                    <a href="#"><li><img src="../../img/lista.png" class="sidebar_icons">Evaluaciones</li></a>
                    <a href="#"><li><img src="../../img/comunidad.png" class="sidebar_icons">Pasantes</li></a>
                    <a href="#"><li><img src="../../img/libro-abierto.png" class="sidebar_icons">Convocatorias</li></a>
                </ul>
                <ul id="opciones_inferiores">
                    <a href="#"><li><img src="../../img/ajuste.png" class="sidebar_icons">Ajustes</li></a>
                    <a href="#"><li><img src="../../img/flecha.png" class="sidebar_icons">Cerrar Session</li></a>
                </ul>

        </div>
        <div class="main_container" id="main">
            <!-- cargar el contenido principal es esta seccion de la pagina-->
            <form class="w-65  mx-auto">
                <h1 class="text-center w-75">Editar datos</h1>
                <div class="form-group my-top-large">
                    <label for="nombre">Nombre</label>
                    <input id="nombre"  type="text" class="form-control bg-primary text-white w-75" value="Felix">
                </div>
                <div class="form-group my-top-mid">
                    <label for="apellido">Apellido</label>
                    <input id="apellido" type="text" class="form-control bg-primary text-white w-75" value="Ynfante">
                </div>
                <div class="form-group my-top-mid">
                    <label for="correo">Correo</label>
                    <input id="correo" type="text" class="form-control bg-primary text-white w-75" value="ejemplo@gmail.com">
                </div>
                <div class="form-group my-top-mid">
                    <label for="direccion">Direccion</label>
                    <input id="direccion" type="text" class="form-control bg-primary text-white w-75" value="Una casa">
                </div>
                <div class="my-top-large mx-auto w-75 btn-group">
                    <button class="btn btn-info d-inline-block">Guardar</button>
                    <button class="btn  btn-success d-inline-block float-right">Volver Atras</button>
                </div>
            </form>
        </div>
    </div>
    <script src="../../js/script.js"></script>
</body>

</html>