<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <link rel="stylesheet" href="../../css/global-style.css"> -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <script src="https://kit.fontawesome.com/ce59bd3c16.js" crossorigin="anonymous"></script>
    <link href="../../css/solitud_pasantes.css" rel="stylesheet">

    <!-- Datatable -->
    <script src="../../js/datatable.js"></script>
    <link href="../../css/datatable.css" rel="stylesheet">

    <!-- Sidebar -->
    <link href="../../css/sidebar.css" rel="stylesheet" />
    <script src="../../js/sidebar.js" defer></script>
    <title>Ver Solicitudes</title>

    <style>
        #lista-pasantes {
            padding: 30px;
            margin: 0 auto;
        }
    </style>
</head>

<body>
    <div class="container">
        <div id="sidebar-container">
            <!-- Sidebar dynamically is loaded from `sidebar.js` -->
        </div>

        <div class="main_container" id="main">
            <h1 class="mx-left-large text-center" style="color: var(--color-primario);">Solicitudes de los Pasantes</h1>
            <div id="lista-pasantes"></div>            
        </div>
    </div>
</body>
<script type="module">
    import { DataGenerator } from "../../js/datagenerator.js";

    const data = new DataGenerator(100).nextArray(23, (gen) => {
        const name = gen.nextName();
        const lastName = gen.nextLastName();

        return {
            Nombre: name,
            Apellido: lastName,
            Correo: `${name}${lastName}@hotmail.com`.toLowerCase(),
            Calificacion: gen.nextInt(70, 100),
            Opciones: `<a href="#" class="icon text-success mx-small p-small"><i class="fas fa-pen"></i></a>
                    <a href="#" class="icon text-danger mx-small  p-small"><i class="fas fa-trash-alt"></i></a>
                    <a href="#" class="icon text-info mx-small    p-small"><i class="fas fa-info-circle"></i></a>`
        };
    });

    createDatatable("#lista-pasantes",
    {
        //pageButtonCount: 4,
        //paginate: false,
        //searchable: false,
        //scrollX: true,
        //scrollY: 400,
        centerText: true,
        maxRows: 10,
        sortable: ["Nombre", "Apellido", "Correo", "Calificacion"],
        data: data,
    })
</script>

</html>