<!DOCTYPE html>
<html>
<head>
    <script src="https://kit.fontawesome.com/ce59bd3c16.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="../css/global-style.css">
    <link rel="icon" href=".png" sizes="16x16" type="image/png"> 
    <title>AI Logic</title>
    <link rel="stylesheet" href="../../css/login.css">


</head>


<body>
    
<div class="conteiner">
    
   <div class="item1"> <header> 
    <nav>
        <!--<ul>
            <li><a href="#" id="Home">Home</a></li>
            <li><a href="#">Solicitud de pasantia</a></li>
            <li class="lift"><a href="#" onclick="logperf()">Login</a></li>
            <li class="lift"><a href="#" onclick="registropen()">Registro</a></li>
            
        </ul> -->
        <a>Home</a>
        <a>Contact</a>
        <div>
        <a href="#" onclick="logperf()">Login</a>
        <a href="#" onclick="registropen()">Sign in</a>
    </div>
    </nav>
</header>
</div>
       <div class="item2">
           <img src="../../img/portada.jpg" >
       </div>
       <div class="item3"> 
           <article>
               <h2>Pasante como futuro del manana</h2>
               <div class="parrafo"><img src="../../img/group-team.jpg" ></div>
               <div class="parrafo">
               <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ducimus repellat veniam doloribus, dignissimos, odio necessitatibus inventore quam voluptatum nisi fuga cum illum hic velit. Error temporibus in eligendi ratione corrupti.
                   Lorem ipsum dolor sit amet, consectetur adipisicing elit. Possimus optio tempore eveniet. Exercitationem dolorem perferendis saepe eos similique expedita quia aut? Blanditiis magnam quia quam, tempora est atque cumque perferendis?
                   Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ducimus repellat veniam doloribus, dignissimos, odio necessitatibus inventore quam voluptatum nisi fuga cum illum hic velit. Error temporibus in eligendi ratione corrupti.
                   Lorem ipsum dolor sit amet, consectetur adipisicing elit. Possimus optio tempore eveniet. Exercitationem dolorem perferendis saepe eos similique expedita quia aut? Blanditiis magnam quia quam, tempora est atque cumque perferendis?

               </p></div>
           </article>
       </div>


       <div class="item4"> 
        <article>
            <h2>Nosotros como empresa</h2>
            <div class="parrafo"><img src="../../img/group-team.jpg" ></div>
            <div class="parrafo">
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ducimus repellat veniam doloribus, dignissimos, odio necessitatibus inventore quam voluptatum nisi fuga cum illum hic velit. Error temporibus in eligendi ratione corrupti.
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Possimus optio tempore eveniet. Exercitationem dolorem perferendis saepe eos similique expedita quia aut? Blanditiis magnam quia quam, tempora est atque cumque perferendis?
                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ducimus repellat veniam doloribus, dignissimos, odio necessitatibus inventore quam voluptatum nisi fuga cum illum hic velit. Error temporibus in eligendi ratione corrupti.
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Possimus optio tempore eveniet. Exercitationem dolorem perferendis saepe eos similique expedita quia aut? Blanditiis magnam quia quam, tempora est atque cumque perferendis?

            </p></div>
        </article>
    </div>
       <div class="item5">

        <div>
             
             <h2>Contactanos </h2>
             <div class="container">
                
                <form action="/action_page.php">
                  <label for="fname">First Name</label>
                  <input class="inputed" type="text" id="fname" name="firstname" placeholder="Your name..">
              
                  <label for="lname">Last Name</label>
                  <input class="inputed" type="text" id="lname" name="lastname" placeholder="Your last name..">
            
              
                  <label for="subject">Subject</label>
                  <textarea class="inputed" id="subject" name="subject" placeholder="Write something.." style="height:200px"></textarea>
              
                  <input type="submit" value="Submit">
                </form>
             </div>
        

     





                   
<div  id="log" class="overpage" >
    <a class="closebtn" href="#" onclick="closeview()"><i class="far fa-times-circle" ></i></a>
   

<div class="logview">
<div class="stileft"> </div>
<img src="../../img/logo.jpg" width="200px" height="200px" class="logo">  
<p class="pt"> Usuario</p>
<input type="text">
<p class="pt"> Password</p>
<input type="password">
<p class="plink">no tengo cuenta , deseo <a onclick="registropen()" href="#" >registrarme</a> </p>




<button onclick="" class="btn"> Iniciar Sesion </button>
</div>
</div>


<!--Vista de registro-->
<div  id="regist" class="overpage" >
    <a class="closebtn" href="#" onclick="closeview()"><i class="far fa-times-circle" ></i></a>
    

<div class="logview2">
<div class="stileft"> </div>

    <img src="../../img/logo.jpg" width="100px" height="100px" class="logo2">  

    <p class=""> Correo</p>
    <input type="email">

    <p class=""> Nombre</p>
    <input type="text">

    <p class=""> Apellido</p>
    <input type="text">

    <p class=""> Password</p>
    <input type="password">

    <p class=""> Repetir Password</p>
    <input type="password">

    <p class="plink">Tengo cuenta, ir al <a onclick="logperf()" href="#" >login</a> </p>




        <button onclick="" class="btn" id="btnl"> Registrarse </button>
    </div>
</div>















       <footer>
        
        <a href="#" class="fa fa-facebook"></a>
        <a><i class="fab fa-facebook"></i></a>
        <a href="#" class="fa fa-twitter"></a>
        <a href="#" class="fa fa-linkedin"></a>
        <a href="#" class="fa fa-instagram"></a>
        <a href="#" class="fa fa-whatsapp"></a>
       
       

<h6> Copyright ©  2021 - AILogic. All Rights Reserved</h6>
    </footer>
    </div>
    
    

    <script>

        function closeview(){
    
            document.getElementById("log").style.width ="0%";
            document.getElementById("regist").style.width ="0%";
        }
    
        function logperf(){
    
    document.getElementById("log").style.width ="100%";
    document.getElementById("regist").style.width ="0%";
    }
    
    function registropen(){
        document.getElementById("log").style.width ="0%";
    document.getElementById("regist").style.width ="100%";
    }
      </script>

</body>
</html>