<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.2/css/all.css" integrity="sha384-vSIIfh2YWi9wW0r9iZe7RJPrKwp6bG+s9QZMoITbCckVJqGCCRhc+ccxNcdpHuYu" crossorigin="anonymous">
    <link rel="stylesheet" href="../../css/global-style.css">

    <!-- Sidebar -->
    <link href="../../css/sidebar.css" rel="stylesheet" />
    <script src="../../js/sidebar.js" defer></script>
    <script src="../../js/routing.js"></script>
    <title>Tarea</title>
</head>


<body>
    <div class="container">
        <div id="sidebar-container">
            <!-- Sidebar is dynamically loaded from `sidebar.js` -->
        </div>
        
        <div class="main_container" id="main">
            <h1>Asignacion #1</h1>

            <h2>Titulo</h2>
            <h2>Descripcion</h2>
            <p>Texto</p>
            <div> </div>
            <div> </div>
            <div> </div>
            
        </div>
    </div>


    </body>


</html>