<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.2/css/all.css" integrity="sha384-vSIIfh2YWi9wW0r9iZe7RJPrKwp6bG+s9QZMoITbCckVJqGCCRhc+ccxNcdpHuYu" crossorigin="anonymous">
    <link rel="stylesheet" href="../../css/style.css">
    <link rel="stylesheet" href="../../css/global-style.css">
    <link rel="stylesheet" href="../../css/tarea-style.css">
    <title>Document</title>
</head>

<body>
    <div class="container">
        <div id="sidebar" class="active">
            <!-- Esta parte contine el menu principal de la pagina  -->
            <div class="toggle_btn">
                <span></span>
                <span></span>
                <span></span>
            </div>
            <ul>
                <a href="#">
                    <li><i class="far fa-user-circle" style="color: white;padding: 5px;"></i> Perfil</li>
                </a>
                <a href="#">
                    <li><i class="far fa-file-alt" style="color: white;padding: 5px;"></i>Tareas</li>
                </a>
                <a href="#">
                    <li><i class="fas fa-clipboard-list" style="color: white;padding: 5px;"></i>Evaluaciones</li>
                </a>
                <a href="#">
                    <li><i class="fas fa-users" style="color: white;padding: 5px;"></i> Pasantes</li>
                </a>
                <a href="#">
                    <li><i class="fas fa-book-open" style="color: white; padding: 5px;"></i>Convocatorias</li>
                </a>
            </ul>
            <ul id="opciones_inferiores">
                <a href="#">
                    <li><i class="fas fa-cog" style="color: white;padding: 5px;"></i>Ajustes</li>
                </a>
                <a href="#">
                    <li><i class="fas fa-sign-out-alt" style="color: white;padding: 5px;"></i>Cerrar Session</li>
                </a>
            </ul>

        </div>
        <div class="main_container" id="main">
            <!-- cargar el contenido principal es esta seccion de la pagina-->
            <div class="contianer-tarea text-center py-mid">

                <form action="" class="mx-auto form-tarea" enctype="multipart/form-data">
                    <h2 class="text-left mx-left-large my-mid">Crear nueva tarea</h2>
                    <div class="input-grupo control-group">
                        <input type="text" placeholder="Titulo de la tarea" name="titulo" id="titulo" class="form-control">
                    </div>
                    <div class="input-grupo control-group ">
                        <Textarea rows="10" cols="20" placeholder="Escribir aqui..." class="form-control"></Textarea>
                    </div>
                    <div class="input-grupo">
                        <!-- <div class="drop-area">

                    </div> -->
                    </div>
                    <div class="input-grupo ">
                        <input type="file" name="archivo" id="" multiple accept=".rar,.iso,.zip">
                        <!-- <input type="file" class="btn ">Subir archivo</button> -->
                        <button type="submit" class="btn btn-primario text-white my-top-mid">Crear tarea</button>
                    </div>

                </form>
            </div>
            <!--Contenedor para subir un documento como adjunto de la tarea -->
            <!-- <div class="upload-file-contianer">
            <form action="">
                <input type="file" name="file" id="file" hidden>
            </form>

            <div class="drop-area">
                <h3>Arrastrar Aqui</h3>
            </div>
        </div> -->


        </div>
    </div>
    <script src="js/script.js"></script>
</body>

</html>