<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../css/style.css">
    <link rel="stylesheet" href="../../css/global-style.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="../../css/examen.css" rel="stylesheet">
    <title>Examen</title>
</head>

<body>
    <div class="container">
        <div id="sidebar" class="active">
                    <!-- Esta parte contine el menu principal de la pagina  -->
                <div class="toggle_btn">
                    <span></span>
                    <span></span>
                    <span></span>
                </div>
                <ul>
                    <a href="#"><li><img src="../../img/perfil.png" class="sidebar_icons">Perfil</li></a>
                    <a href="#"><li><img src="../../img/bloc.png" class="sidebar_icons">Tareas</li></a>
                    <a href="#"><li><img src="../../img/lista.png" class="sidebar_icons">Evaluaciones</li></a>
                    <a href="#"><li><img src="../../img/comunidad.png" class="sidebar_icons">Pasantes</li></a>
                    <a href="#"><li><img src="../../img/libro-abierto.png" class="sidebar_icons">Convocatorias</li></a>
                </ul>
                <ul id="opciones_inferiores">
                    <a href="#"><li><img src="../../img/ajuste.png" class="sidebar_icons">Ajustes</li></a>
                    <a href="#"><li><img src="../../img/flecha.png" class="sidebar_icons">Cerrar Session</li></a>
                </ul>
        </div>
        <div class="main_container" id="main">
            <div class="main-title">
                <div class="back-btn">
                    <span class="material-icons">arrow_back_ios</span>
                </div>
                <h1 class="mx-left-large text-center" style="color: var(--color-primario);">Lenguajes de programación</h1>
            </div>
            <div class="question-container">
                <ul class="question-list">
                    <li class="question-item">
                        <div class="question-title">1- ¿Qué es C#?</div>
                        <div class="question-answers">
                            <label class="question-answer-item">
                                <span class="material-icons checkmark-correct">check_circle</span>
                                Un lenguaje de programacion
                            </label>
                            <label class="question-answer-item">
                                <span class="material-icons">radio_button_unchecked</span>
                                Un lenguaje de desarrollo
                            </label>
                            <label class="question-answer-item">
                                <span class="material-icons">radio_button_unchecked</span>
                                Un lenguaje de diseño
                            </label>
                        </div>
                    </li>
                    <li class="question-item">
                        <div class="question-title">1- ¿Qué es C#?</div>
                        <div class="question-answers">
                            <label class="question-answer-item">
                                <span class="material-icons checkmark-incorrect">cancel</span>
                                Un lenguaje de programacion
                            </label>
                            <label class="question-answer-item">
                                <span class="material-icons">radio_button_unchecked</span>
                                Un lenguaje de desarrollo
                            </label>
                            <label class="question-answer-item">
                                <span class="material-icons">radio_button_unchecked</span>
                                Un lenguaje de diseño
                            </label>
                        </div>
                    </li>

                    <li class="question-item">
                        <div class="question-title">1- ¿Qué es C#?</div>
                        <div class="question-answers">
                            <label class="question-answer-item">
                                <span class="material-icons checkmark-correct">check_circle</span>
                                Un lenguaje de programacion
                            </label>
                            <label class="question-answer-item">
                                <span class="material-icons">radio_button_unchecked</span>
                                Un lenguaje de desarrollo
                            </label>
                            <label class="question-answer-item">
                                <span class="material-icons">radio_button_unchecked</span>
                                Un lenguaje de diseño
                            </label>
                        </div>
                    </li>
                </ul>
            
            <button class="siguiente-btn">Siguiente</button>
            </div>
        </div>
    </div>
    <script src="../../js/script.js"></script>
</body>

</html>