<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../../css/global-style.css" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.2/css/all.css"
        integrity="sha384-vSIIfh2YWi9wW0r9iZe7RJPrKwp6bG+s9QZMoITbCckVJqGCCRhc+ccxNcdpHuYu" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />
    <link href="../../css/examen.css" rel="stylesheet" />

    <!-- Sidebar -->
    <link href="../../css/sidebar.css" rel="stylesheet" />
    <script src="../../js/sidebar.js" defer></script>
    <script src="../../js/routing.js"></script>
    <title>Examen</title>
</head>

<body>
    <div class="container">
        <div id="sidebar-container">
            <!-- Sidebar is dynamically loaded from `sidebar.js` -->
        </div>

        <div class="main_container" id="main">
            <h1 class="mx-left-large text-center" style="color: var(--color-primario)">
                Lenguajes de programación
            </h1>
            <div class="questions">
                <div class="question">
                    <div class="question-text">1 - ¿Qué es C#?</div>
                    <div class="answers">
                        <label class="answer" for="answer-1">
                            Un lenguaje de programación
                            <input type="radio" id="answer-1" checked="checked" name="answer1">
                            <div class="checkmark"></div>
                        </label>
                        <label class="answer" for="answer-2">
                            Un lenguaje de programación
                            <input type="radio" id="answer-2" checked="checked" name="answer1">
                            <div class="checkmark"></div>
                        </label>
                        <label class="answer" for="answer-3">
                            Un lenguaje de programación
                            <input type="radio" id="answer-3" checked="checked" name="answer1">
                            <div class="checkmark"></div>
                        </label>
                    </div>
                </div>

                <div class="question">
                    <div class="question-text">2 - ¿Qué es C#?</div>
                    <div class="answers">
                        <label class="answer" for="answer-4">
                            Un lenguaje de programación
                            <input type="radio" id="answer-4" checked="checked" name="answer2">
                            <div class="checkmark"></div>
                        </label>
                        <label class="answer" for="answer-5">
                            Un lenguaje de programación
                            <input type="radio" id="answer-5" checked="checked" name="answer2">
                            <div class="checkmark"></div>
                        </label>
                        <label class="answer" for="answer-6">
                            Un lenguaje de programación
                            <input type="radio" id="answer-6" checked="checked" name="answer2">
                            <div class="checkmark"></div>
                        </label>
                    </div>
                </div>

                <button class="siguiente-btn">Siguiente</button>
            </div>
        </div>
    </div>
</body>
</html>