<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../../css/global-style.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <script src="https://kit.fontawesome.com/ce59bd3c16.js" crossorigin="anonymous"></script>
    <link href="../../../css/ver_examenes.css" rel="stylesheet">

    <!-- Sidebar -->
    <link href="../../css/sidebar.css" rel="stylesheet" />
    <script src="../../js/sidebar.js" defer></script>
    <script src="../../js/routing.js"></script>
    <title>Examenes</title>
</head>

<body>
    <div class="container">
        <div id="sidebar-container">
            <!-- Sidebar is dynamically loaded from `sidebar.js` -->
        </div>

        <div class="main_container" id="main">
            <h1 class="mx-left-large text-center" style="color: var(--color-primario);">Pruebas Disponibles</h1>
            <div class="examen-container">
                <div class="examen-list">
                    <div class="examen-item">
                        <div class="examen-item-title">
                            <span class="material-icons">note_alt</span>
                            <p>Asignacion #1</p>
                        </div>
                        <div class="examen-item-content">
                            Realizar el examen de HTML de W3SCHOOL
                        </div>
                    </div>
                    <div class="examen-item">
                        <div class="examen-item-title">
                            <span class="material-icons">note_alt</span>
                            <p>Asignacion #1</p>
                        </div>
                        <div class="examen-item-content">
                            Realizar el examen de HTML de W3SCHOOL
                        </div>
                    </div>
                    <div class="examen-item">
                        <div class="examen-item-title">
                            <span class="material-icons">note_alt</span>
                            <p>Asignacion #1</p>
                        </div>
                        <div class="examen-item-content">
                            Realizar el examen de HTML de W3SCHOOL
                        </div>
                    </div>
                    <div class="examen-item">
                        <div class="examen-item-title">
                            <span class="material-icons">note_alt</span>
                            <p>Asignacion #1</p>
                        </div>
                        <div class="examen-item-content">
                            Realizar el examen de HTML de W3SCHOOL
                        </div>
                    </div>
                </div>
                <div class="examen-info">
                    <div class="container-card">
                        <div class="card-title">Enlaces de referencia</div>
                        <a target="_blank" href="https://www.w3schools.com/">https://www.w3schools.com/</a>
                    </div>
                    <div class="container-card">
                        <div class="card-title">Eventos próximos</div>
                        <div>No hay eventos próximos</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
